<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 th:text="${title}"></h1>
    <form th:action="@{/games/new}" th:object="${game}" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <input type="hidden" th:field="*{id}">
            <label>Title</label>
            <input th:field="*{title}" type="text" id="title"
                   placeholder="Enter title">
        </div>
        <div>
            <label for="price">Price</label>
            <input th:field="*{price}" type="text" id="price"
                   placeholder="Enter price">
        </div>
        <div>
            <label for="year">Year</label>
            <input th:field="*{year}" type="text" id="year"
                   placeholder="Enter year">
        </div>
        <div>
            <label for="category">Category</label>
            <input th:field="*{category}" type="text" id="category"
                   placeholder="Enter category">
        </div>
        <div>
            <label for="photos">Photos</label>
            <input th:field="*{photos}" type="file" name="image" accept="image/png, image/jpeg">
        </div>
        <div>
            <input type="submit" value="Save"/>
        </div>
    </form>
</section>
<footer th:replace="fragments/footer"></footer>
</body>
</html>